/* CSS page d'actu/feed */
*{
    font-family: 'Comfortaa', cursive;
  }
  
  .logo{
    position: fixed;
    background-color: #eeeee4;
    top: 0px;
    left: 0px;
    right: 0px;
  }
  #logo{
    width: 200px;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .post{
    margin-top: 6em;
    margin-bottom: 6em;
    
  }
  
  .entreprise{
  text-align: center;
  padding: 1em;
  }
  
  #name{
    display: inline-block;
    vertical-align: middle;
  }
  
  #profil_picture{
    width: 150px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50px 50px 50px 50px;
  }
  
  .image_event{
    text-align: center;
  }
  
  #image_event{
    width: 600px;
    display: inline-block;
    vertical-align: middle;
  }