*{
    font-family: 'Confortaa', 'Segoe UI', Arial, sans-serif;
}
html{
    background-color: gainsboro;
    align-items: center;
}

.logo{
    width: 300px;
}

body{
    background-color: #F5F5F5;
    border-color: #EC662B;
    border-style: solid;
    border-radius: 10px;
    width: 700px;
    display: flex;
    padding: 1em;
    margin: auto;
    margin-top: 5em;
    justify-content: center;
}

#submit{
    float: right;
}